*{
    margin: 0px;
    padding: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.navbar{
   
    position: sticky !important;
    top: 0;
    z-index: 1;
    box-shadow: 3px 5px 7px  #0c0c0c70;
}
.breadcrumb-item > a{
  text-decoration: none !important;
  color: black;
}
.breadcrumb-item > a:hover{
  text-decoration: none !important;
  color: rgb(214, 6, 6);
}
ul li {
  text-decoration: none;
  text-align: left;
  list-style: none;
  padding-left: -10px !important;
}
.logo{
    margin-left: 20px !important;
}
.input-search{
    position: relative !important;
   
    width: 500px !important;
}
.search-icon{
    position: absolute;
    right: 19% !important;
    top: 29.5% !important;
}
/* input[type=search] {
  width: 100% !important;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 20px 20px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
} */
@media only screen and (min-width: 1595px) and (max-width: 1921px) {
    .input-search{
        position: relative !important;
        display: block;
    }
    .search-icon{
        position: absolute;
    right: 53.5% !important;
    top: 30% !important;
    }
  }
@media only screen and (min-width: 1441px) and (max-width: 1594px) {
    .input-search{
        position: relative !important;
        display: block;
    }
    .search-icon{
        position: absolute;
        right: 34% !important;
    top: 30% !important;
    }
  }
@media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .input-search{
        position: relative !important;
        display: block;
    }
    .search-icon{
        position: absolute;
        right: 39% !important;
        top: 30% !important;
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .input-search{
        position: relative !important;
        display: block;
    }
    .search-icon{
        position: absolute;
        right: 17% !important;
        top: 35.7% !important;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .input-search{
        position: relative !important;
        display: block;
    }
    .search-icon{
        position: absolute;
        right: 600px;
        top: 27px;
    }
  }
  @media (max-width: 767px) {
    .input-search{
        position: relative !important;
        display: block;
    }
    .search-icon{
        position: absolute;
        right: 600px;
        top: 27px;
    }
}
.user-profile-section{
    border: 2px solid #000000fa;
    
}
.user-profile{
    width: 20px;
    height: 20px;
    object-fit: cover;
    /* border-radius: 75% 75%;
    border: 2px solid black; */
    border-color:2px solid black !important;
}
.notifications{
    position: relative;
}
.notification-count{
    position: absolute;
    text-align: center;
    width: 17px;
    height: 17px;
    line-height: 17px;
    background-color: rgb(90, 90, 230);
    border-radius: 6px ;
    color: white;
    right: 12.8%;
    top: 22%;


}
.messages{
    position: relative;
}
.message-count{
    position: absolute;
    text-align: center;
    width: 17px;
    height: 17px;
    line-height: 17px;
    background-color: rgb(240, 78, 132);
    border-radius: 6px ;
    color: white;
    right: 9.2%;
    top: 22%;
}
@media only screen and (min-width: 1595px) and (max-width: 1921px) {
  .notifications{
    position: relative;
}
.notification-count{
    position: absolute;
    text-align: center;
    width: 17px;
    height: 17px;
    line-height: 17px;
    background-color: rgb(90, 90, 230);
    border-radius: 6px ;
    color: white;
    right: 9%;
    top: 22%;
}
}
@media only screen and (min-width: 1595px) and (max-width: 1921px) {
  .messages{
    position: relative;
}
.message-count{
    position: absolute;
    text-align: center;
    width: 17px;
    height: 17px;
    line-height: 17px;
    background-color: rgb(240, 78, 132);
    border-radius: 6px ;
    color: white;
    right: 6.6%;
    top: 22%;
}
}
/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 17%;
   position: fixed;
    z-index: 0;
    top: 63px;
    left: 0;
    background-color:rgb(255, 255, 255);
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a{

  }
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #320faf;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    border-radius: 4px;
    color: #3e6ef3;
    background-color: #a2dcfd;
    
  }
  
  /* Main content */
  .main {
    
    /* Same as the width of the sidenav
    font-size: 20px; /* Increased text to enable scrolling */
    /* padding: 0px 10px; */
    height: 500vh !important;
    background-color: rgb(226, 247, 250);
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    background-color: #a2dcfd;
    color: #3e6ef3;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;

    padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  
  /* Some media queries for responsiveness */
  @media screen and (max-height: 450px) {
    /* .sidenav {padding-top: 15px;} */
    .sidenav a {font-size: 18px;}
  }
 svg > path{
    color: #3e6ef3;
  }
  .dashborde-dropdown-items{
    line-height: 15px;

  }
  .dashborde-dropdown-icons{
    font-size: 12px;

  }
  .cart-icon-1{
    position: relative;
    width: 70px;
    height: 70px;
    color: #320faf;
    background-color: #e4eafa;
    border-radius: 50%;
  }
  .cart-icon-link-1{
    position: absolute;
    top: 15px;
    left: 17px;
    
  }
  .cart-icon-2{
    position: relative;
    width: 70px;
    height: 70px;
    color: #058d39;
    background-color: #c8fcdc;
    border-radius: 50%;
  }
  .cart-icon-link-2{
    position: absolute;
    top: 15px;
    left: 25px;
    
  }
  .cart-icon-3{
    position: relative;
    width: 70px;
    height: 70px;
    color: #f78d15;
    background-color: #f3e1cc;
    border-radius: 50%;
  }
  .cart-icon-link-3{
    position: absolute;
    top: 15px;
    left: 17px;
    
  }
  .cards-sales-count{
    font-weight: 900px;
  }
  footer{
    border-top: 1px solid #9b999996;
  }

  /* Start table styles */
  table thead{
    color:#C92026;
  }
  /* End table styles */
  .input-search[type=search] {
    background-image: url('../img/search.png');
    background-size: 17px;
    background-position: 98%;
    background-repeat: no-repeat;
    border: 1px solid #a7a7a7fa;
  }
  .navbar-icon{
    font-size: 20px !important;
    padding: 0 !important;
    margin: 0px 10px;
  }
  .navbar-badge{
    font-size: 12px !important;
    font-weight: 100;
  }